@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Medium.woff2") format("woff2"),
    url("../fonts/ProductSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Thin.woff2") format("woff2"),
    url("../fonts/ProductSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Black.woff2") format("woff2"),
    url("../fonts/ProductSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
    url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Light.woff2") format("woff2"),
    url("../fonts/ProductSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Product Sans";
  font-size: 1.6rem;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.site-header {
  padding: 1rem 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 300ms;
}
.nav__fixed.scroll{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  text-decoration: none;
}
.logo-img {
  width: 7rem;
  height: 7rem;
}
.logo-text {
  text-decoration: none;
  color: #47b785;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.36rem;
}
.logo-text span {
  color: #000;
}
.site-header .navigation {
  display: flex;
  align-items: center;
  gap: 7rem;
  list-style: none;
}
.site-menu {
  text-decoration: none;
  color: #6f6d80;
  line-height: 2.9rem;
  font-size: 2.1rem;
  font-weight: 400;
}
.site-menu.active {
  color: #000;
}
.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome-info {
  width: 50%;
}
.welcome-img-box img {
  width: 50rem;
  height: 50rem;
}
.welcome-info-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
}
.welcome-info-desc {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 1.8rem 0;
  width: 80%;
}
.btn {
  outline: none;
  cursor: pointer;
  font-family: "Product Sans";
}
.btn-welcome {
  text-decoration: none;
  display: inline-block;
  padding: 2rem 10rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.4rem;
  line-height: 2.9rem;
  background-color: #47b785;
  color: #fff;
  border: 0;
  border-radius: 1.5rem;
}
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-title {
  font-weight: 700;
  font-size: 3rem;
  text-align: right;
  margin-right: 12rem;
  transform: translateY(5rem);
}
.about-title br{
  display: none;
}
.about-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 60rem;
}
.about-info {
  width: 50%;
}
.about-img{
  width: 50rem;
  height: 50rem;
}
.about-info-desc {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.9rem;
  width: 70%;
  transform: translateX(5rem);
  margin: auto;
}
.free {
  height: 100vh;
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.free-info {
  width: 50%;
}
.free p {
  width: 90%;
  margin: auto;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
  text-align: center;
}
.updates {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.updates-info {
  width: 50%;
}
.updates-info-desc {
  width: 80%;
  margin: auto;
  font-size: 3.6em;
  font-weight: 700;
  line-height: 4.3rem;
  text-align: center;
}
.link-span {
  color: #47b785;
  position: relative;
}
.link-span::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #47b785;
}
.convenience {
  display: flex;
  align-items: center;
  height: 100vh;
}
.convenience-info-desc {
  width: 85%;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.36rem;
  text-align: center;
}
.social {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.social-link {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.social-link:hover {
  transform: translateY(-1rem);
}
.social-link::after {
  height: 5px;
  width: 1rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #000;
}
.telegram:hover::after {
  content: "Telegram";
}
.instagram:hover::after {
  content: "Instagram";
}
.youtube:hover::after {
  content: "YouTube";
}
.vkontakte:hover::after {
  content: "Vkontakte";
}
footer.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3.5rem 0;
}
.ft-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.ft-heading {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.36rem;
  margin-bottom: 1rem;
}
.ft-nav a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  transition: 300ms;
}
.link-hover:hover {
  color: #47b785;
}
/* Sign In Page */
.wrapper {
  height: 100vh;
}
.account__main {
  display: flex;
  align-items: center;
}
.verification .account__main {
  margin-top: 7.5rem;
}
.account__illustration {
  margin-right: 10rem;
}
.verification .account__illustration {
  margin-right: 0;
  margin-left: 15rem;
}
.account__main-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.85rem;
  margin-bottom: 2.1rem;
}
.account__main-info {
  margin-left: 10rem;
}
.verification .account__main-info {
  margin-left: 0;
  margin-right: 15rem;
}
.account__form {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  width: 40rem;
}
.account__input-control {
  width: inherit;
  display: flex;
  flex-direction: column;
  padding: 1rem 2.4rem;
  border: 1px solid #c2c1c1;
  border-radius: 1rem;
}
.account__form label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: "Product Sans";
  color: #5e5e5e;
}
.account__form input {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.45rem;
  font-family: "Product Sans";
  border: none;
  outline: none;
}
.account__form input::placeholder {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.45rem;
  color: #999;
}
.account__form .submit {
  background-color: #47b785;
  width: 100%;
  padding: 2.3rem 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
  border: 0;
  border-radius: 1rem;
}
/* Mobile */
@media (max-width: 450px) {
  .container{
    padding: 0 2.5rem;
  }
  .site-header{
    padding: .5rem 0;
  }
  .site-header .navigation {
    display: none;
  }
  .logo {
    gap: 0.8rem;
    margin: 0 auto;
  }
  .nav__fixed {
    width: 100%;
  }
  .logo-img {
    width: 4rem;
    height: 4rem;
  }
  .logo-text {
    font-size: 1.8rem;
    line-height: 1.95rem;
  }
  .welcome {
    height: calc(100vh + 4rem);
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }
  .welcome-img-box img{
    width: 25rem;
    height: 25rem;
  }
  .welcome-info{
    width: 100%;
    text-align: center;
  }
  .welcome-info-title{
    font-size: 2.8rem;
    line-height: 2.9rem;
  }
  .welcome-info-desc{
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.7rem;
    margin: 1.2rem 0 2rem 0;
  }
  .btn-welcome{
    width: 100%;
    padding: 1.5rem 0;
    border-radius: .6rem;
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
  .about{
    height: 100vh;
    padding-top: 3rem;
  }
  .about-title{
    font-size: 2.8rem;
    line-height: 2.9rem;
    text-align: center;
    margin: 0 auto;
    transform: unset;
  }
  .about-title br{
    display: block;
  }
  .about-info-box{
    background: unset;
    flex-direction: column-reverse;
    min-height: 65rem;
  }
  .about-img{
    width: 100%;
    height: unset;
  }
  .about-info{
    flex-basis: 60%;    
    width: 100%;
    background: url('../images/bg\ mob.svg');
    background-position: center 60%;
    background-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-info-desc{
    font-size: 1.3rem;
    line-height: 1.45rem;
    transform: translate(2rem,-2rem);
  }
  .free{
    margin: 0;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
  }
  .free-info{
    width: 100%;
  }
  .free p{
    width: 100%;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .free p br{
    display: none;
  }
  .free-img-box img{
    height: 33.5rem;
  }
  .updates{
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
  .updates-info{
    width: 100%;
  }
  .updates-info-desc{
    width: 100%;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .updates-img-box img{
    width: 100%;
  }
  .convenience{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
  }
  .convenience-img img{
    width: 100%;
  }
  .convenience-info-desc{
    width: 95%;
    margin: 0 auto;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .social{
    gap: 4rem;
  }
  .social-img-box img{
    width: 100%;
  }
  .social-link{
    width: 4rem;
    height: 4rem;
  }
  .social-link img{
    width: 100%;
  }
  footer.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 3fr;
    justify-items: center;
  }
  footer .logo{
    grid-column: 1/13;
    grid-row: 1/2;
  }
  .ft-nav-1{
    grid-column: 1/7;
    grid-row: 2/3;
  }
  .ft-nav-2{
    grid-column: 7/13;
    grid-row: 2/3;
  }
  .ft-heading{
    font-size: 1.8rem;
    line-height: 2.9rem;
  }
  .ft-nav a{
    font-size: 1.6rem;
  }

}
